.infoTitle {
  text-align: left;
  padding-left: 3%;
}

.infoTitle p {
  font-size: 1.438rem;
  font-weight: 900;
}

.info {
  text-align: left;
}

.infoMain {
  margin-left: 6%;
  margin-right: 6%;
}

.infoPart > div {
  display: flex;
  align-items: center;
  padding: 0.625rem 0;
  border-bottom: 0.063em solid #d9d9d9;
  height: 4.375rem;
  padding-left: 0.938rem;
}

.check {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 7%;
}

.infoSubT {
  width: 13%;
}

.infoPart p {
  line-height: 0;
  margin: 0;
}

.infoPart > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.rewardBox {
  border: 0.063rem solid #d9d9d9;
  margin-top: 2%;
  margin-bottom: 4%;
}

.infoMain button {
  border: 0.063rem solid #d9d9d9;
  background-color: transparent;
  padding: 0.313rem 0.750rem;
  margin-left: 0.188rem;
}


.infoMain input {
  outline: none;
  border: none;
  border-bottom: 0.125rem solid #d9d9d9;
  margin-right: 0.5rem;
}