.contain {
  width:100%;
  display:flex;
  align-items:center;
  margin-bottom: 1rem;
}

.ItemsContain {
  width:100%;
  height:100%;
  padding: 0 10px;
}



.ItemsWrap {
  position: relative; 
  width: 100%;
  height: 180px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 20px;

}

.ItemsWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ItemsWrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  z-index: 0;
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center; 
  top: 0; 
  left: 0;
  right: 0; 
  bottom: 0; 
  margin: auto;
  display: flex;
  flex-direction: column; /* Stack the text and icon vertically */
  justify-content: center; /* Center content vertically */
  align-items: center;
}

.overlay2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center; 
  top: 0; 
  left: 0;
  right: 0; 
  bottom: 0; 
  margin: auto;
  display: flex;
  flex-direction: column; /* Stack the text and icon vertically */
  justify-content: center; /* Center content vertically */
  align-items: center;
  z-index: 1;
}

.overlay2 p {
  margin-bottom: 0;
}

.title {
  text-align: left;
  margin-bottom: 2rem;
}

.titleText1 {
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 0;
}

.titleText2 {
  color: #2E64FE;
}

.myTitle {
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.starIconContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.starIcon {
  margin-left: 5px;
  z-index: 3;
  cursor: pointer;
}

.clickInfo {
  text-align: left;
  margin-bottom: 1rem;
  color: #999999;
}

.onlyP {
  margin-bottom: 1rem;
}