.footer {
  margin-top: 3rem;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-left: 9rem;
  padding-right: 9rem;
}

.footer img {
    width: 7rem;
  }

.footer p {
  margin-bottom: 0px;
  font-size: 0.9rem;
}

.text1 {
  text-align: left;
  margin-top: 2.5rem;
}

.img {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  /* margin: auto 0; */
}