.apply {
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 5%;
}

.title {
  display: inline-block;
  border-left : 3.5px solid black;
  
}

.titleinfo {
  margin-left: 4px;
  font-size: 20px;
  font-weight: 600;
}

.applystart {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: left;
}

.sidebarAndList {
  font-size: 15px;
  margin-top: 45px;
}

.sidebar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #D9D9D9;
}