.practiceBanner {
  width: 100vw;
  margin-bottom: 5%;
}

.img {
  width: 100%;
}

.img2 {
  width:110%;
}

.practice {
  font-size: 15px;
}


.title {
  display: inline-block;
  border-left : 3.5px solid black;
}

.titleinfo {
  margin-left: 4px;
  font-size: 20px;
  font-weight: 600;
}

.applystart {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
}

.line {
  font-weight: 600;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  /* color: #2E64FE; */
  font-size: 15px;
  margin-bottom: 5%;
}

.line span {
  font-size: 18px;
}

.line::before {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background: #D9D9D9;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.line::after {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background: #D9D9D9;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}


.line2 {
  font-weight: 600;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  /* color: #2E64FE; */
  font-size: 15px;
  margin-bottom: 7%;
}

.line2 span {
  font-size: 18px;
}

.line2::before {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background: #D9D9D9;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.line2::after {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background: #D9D9D9;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}


.pracList {
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0px;
}

.pracTitle {
  margin-top: 20%;
  margin-bottom: 10%;
  font-size: 18px;
  font-weight: 900;
}

.pracDesc {
  margin-bottom: 20%;
  margin-top: 20%;
}

.pracDesc p {
  line-height: 0.5;
}

.pracList2 {
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  padding: 0px;
}

.pracDesc2 {
  padding-top: 13%;
  margin-bottom: 20%;
  margin-top: 20%;
}

.pracDesc2 p {
  line-height: 0.5;
}