.infoAndCalendar {
  font-size: 15px;
}

.title {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 5%;
  border-left : 3.5px solid black;
}

.write {
  margin-left: 5%;
}

.titleinfo {
  margin-left: 4px;
  font-size: 25px;
  font-weight: 600;
}

.applystart {
  margin-top: 5%;
  margin-bottom: 10px;
  text-align: left;
}

.sidebarAndList {
  font-size: 15px;
  margin-top: 45px;
}

.reservationBanner {
  width: 99.5vw;
}