HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
build/classes/**
build/generated/**
build/reports
build/resources
build/test-results
build/tmp
build/bootJarMainClassName

## 보안문제
application.properties

## Gradle 관련 문제
build.gradle
gradle/
gradlew
gradlew.bat
*.gradle

# Gradle
.idea/**/gradle.xml
.idea/**/libraries
auto-import.
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/modules
!src/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# JIRA plugin
atlassian-ide-plugin.xml