.csltCard {
  border: 1px solid #d9d9d9;
  margin-bottom: 2%;
  padding-left: 5%;
  padding-top: 3%;
}

.profile {
  display: inline;
  width: 70px;
  height: 70px;
}

.profileBox {
  margin-right: 3%;
}

.name {
  font-size: 21px;
  margin-right: 2%;
  font-weight: 900;
}

.exp {
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: end;
  color: #2E64FE;
}





.cardBox {
  display: flex;
  justify-content: left;
}

.nameAndExp {
  justify-content: left;
  display: flex;
}

.team {
  text-align: left;
  color: #868E96;
}

.team p {
  margin-bottom: 0px;
}

.boundary {
  justify-content: left;
  display: flex;
  line-height: 1.7;
}

.boundaryTitle span {
  
}


.tag {
  justify-content: left;
  display: flex;
}