.searchinput {
  margin-bottom: 0.625rem;
}

.detail {
  margin-bottom: 1rem;
  margin-top: 0.625rem;
}

.searchicon {
  display: inline-block;
}

.search {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.reset {
  border: 0.063rem solid rgba(165, 193, 247);
  background-color: transparent;
  margin-left: 20%;
  padding: 0;
  margin-right: 10%;
}

.detailP {
  margin-bottom: 0.313rem;
  margin-left: 1.563rem;
  font-size: 1.250rem;
  font-weight: 500;
  align-items: center;
  text-align: left;
  padding: 0;
}

.searchinput {
  width: 80%;
  height: 2.188rem;
  border: none;
  border-bottom: 0.063rem solid #d9d9d9;
  outline: none;
}

.condition {
  text-align: left;
  margin-left: 10%;
}

.iconcontainer {
  position: relative;
  margin-bottom: 4%;
}

.searchicon {
  position: absolute;
  right: 2.188rem;
  transform: translateY(20%);
}

.searchicon svg {
  cursor: pointer;
}

.subtitle {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.938rem;
  color: #4A5056;
  border-bottom: 0.125rem solid black;
  width: 60%;
}


.selectBox {
  margin-bottom: 10%;
}

.selectBox input[type="checkbox"] {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
  outline: none !important;
  border: 0.063rem solid rgba(165, 193, 247);
  vertical-align: middle;
  margin-right: 3%;
}
.selectBox input[type="checkbox"]::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}
.selectBox input[type="checkbox"]:checked {
  background-color: #63aeff;
  border-color: rgba(165, 193, 247);
  color: white;
}
.selectBox input[type="checkbox"]:checked::before {
  border-radius: 0.250rem;
  transform: scale(1) translate(-50%, -50%)
}

.selectBox label {
  vertical-align: middle;
}

.searchBtn {
  position: relative;
  border: none;
  width: 10rem;
  height: 3rem;
  background-color: #4285F4;
  color: white;
  font-weight: 600;
  border-radius: 0.313rem;
  margin-bottom: 10%;
  font-size: 1rem;
}