.picMainBox {
  margin-top: 2rem;
  height: 100vh;
}

.picMainTitle {
  display: flex;
  justify-content: center;
}

.picMainTitle svg {
  margin: 0 1rem;
}

.img {
  width: 70%;
  height: 15rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.imgBox {
  display: flex;
  justify-content: center;
}

.pickBox {
  margin: 0 10rem;
}

.objName {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 3rem;
  width: 22.5rem;
}

.objName > span {
  color: #2E64FE;
}

.hiddenComponent {
  visibility: hidden;
}

.imageContainer {
  position: relative;
}

.question p {
  position: absolute;
  top: 0; 
  left: 22%;
  transform: translateX(-50%); 
  background-color: rgba(46, 100, 254, 0.5); 
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0.8rem 1.2rem;
}

.back {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 15%;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
}

.back svg {
  margin-right: 0.6rem;
}