.startBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 99vw;
  height: 100vh;
}

.imgBox {
  width: 110%;
}

.startBox img {
  width: 75%;
}

.textBox {
  width: 80%;
  text-align: center;
}

.TitleText1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.TitleText2 {
  font-size: 1.5rem;
  line-height: 0.7;
  margin-bottom: 2.5rem;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap button {
  width: 140px;
  height: 45px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #f4f4f4;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 0 1rem;
  }

.wrap button:hover {
  background-color: #2E64FE;
  box-shadow: 0px 15px 20px rgba(34, 100, 254, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.infoBox {
  width: 99vw;
  height: 100vh;
  margin-top: 2rem;
}

.infoBox p {
  font-size: 1.5rem;
  font-weight: 900;
}

.infoImg {
  width: 65rem;
  height: 40rem;
}

.infoPic1
.infoPic2
.infoPic3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}