video {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.nickname {
    display: inline-block;
    margin: 10px;
    padding: 7px;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    float: left;
}

.videoContainer {
    /* border: 2px solid black; */
    padding: 5px;
    /* background-color: white; */
}

.videobox {
    background-color: white;
    border-radius: 20px;
    padding: 10px
}
